<div class="wrapper clearfix">
  <div id="video">
    <% if Settings.use_video_placeholder %>
      <div id="video_image">
        <img alt="video_place_holder" width='512px' height='385px' src="/assets/video_placeholder.png" />
      </div>
      <div id="player" class="hidden" style="display: none;">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe type="text/html" allowFullScreen frameborder="0" src="<%= Settings.video_embed_url %>"></iframe>
        </div>
      </div>
    <% else %>
    <div class="video_box">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/MkQcZ8A01AA" frameborder="0" allowfullscreen></iframe>
    </div>
    <% end %>
  </div>

  <div id="backing">
    <ul>
      <li class="stats" id="backers">
        <%= number_with_delimiter Order.backers, :delimiter => "," %>
        <span><%= Settings.primary_stat %></span>
      </li>
      <li class="stats">
        <%= number_to_currency Order.revenue, :precision => 0 %>
        <span>of <%= number_to_currency Settings.project_goal.to_f, :precision => 0 %></span>
      </li>

      <% if Settings.expiration_date.present? %>
        <li class="stats" id="days">
          <%= distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\D/, "") %>
          <span><%= distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\d/, "").gsub("about", "") %> left</span>
        </li>
      <% else %>
        <li class="stats" id="days">
            &infin;
            <span>days left</span>
          </li>
      <% end %>
    </ul>
    
    <% if Order.revenue.to_f < Order.goal.to_f %>
      <div id='progress_bg' class='small'>
        <div id='progress' class='' style='width: <%= Order.percent %>%;'>
        </div>
      </div>
    <% else %>
      <div id="progress_bg">
        <div id="progress">
        </div>
        <div id='progress_text'><%= Order.percent %>% <%= Settings.progress_text %></div>
      </div>
    <% end %>
    
    <div id="reserve_container">
      <% if Settings.pay_in_page %>
        <div class="options-box">
          <div class="column">
            <div class="column" id="options_button_1">
              <div class="column" id="options_description_1">
                <h2><%= Settings.payment_headline_1 %></h2>
                <p><%= Settings.payment_description_1 %> <a href="#pop_up_1" class="pop_up" data-target="1">Learn more</a></p>
              </div>
              <button class="button" id="first_option" data-description="<%= Settings.payment_button_1 %>" data-amount="<%= Settings.payment_price_1 %>" data-option="1" data-special="<%= Settings.special_1 %>"><p><%= Settings.payment_button_1 %></p></button>
            </div>
            <div class="spacerflex"></div>
            <div class="column" id="options_button_2">
              <div class="column" id="options_description_2">
                <h2><%= Settings.payment_headline_2 %></h2>
                <p><%= Settings.payment_description_2 %> <a href="#pop_up_2" class="pop_up" data-target="2">Learn more</a></p>
              </div>
              <button class="button" id="second_option" data-description="<%= Settings.payment_button_2 %>" data-amount="<%= Settings.payment_price_2 %>" data-option="2" data-special="<%= Settings.special_2 %>">
                <p><%= Settings.payment_button_2 %></p>
              </button>
            </div>
          </div>
        </div>
      <% else %>
        <p id="ship_date"><%= Settings.ships %></p>
        <a href="/preorder/order" class="blue_button reserve"><%= Settings.call_to_action %></a>
        <p id="price"><%= Settings.price_human %></p>
        <p><%= Settings.dont_give_them_a_reason_to_say_no %></p>
        <%= like_button %>
      <% end %>
    </div> 
  </div>
</div>