<% if Settings.use_payment_options %>
  <fieldset>
    <div class="payment_options">
      <ol>
        <% PaymentOption.all.each_with_index do |p, index| %>
          <li>
            <%= radio_button_tag "payment_option", p.id, false, class: 'payment_radio', disabled: sold_out(p) %>
            <%= label_tag("payment_option_#{index}", p.amount_display) %>
            <div class="shipping">
              <% if sold_out p %>
                <span class="sold-out">Sold Out</span>
              <% end %>
              <span><%= p.shipping_desc %></span>
            </div>
            <div class="description">
              <p class="full"><%= raw p.description %></p>
              <% if p.limit > -1 %>
                <p class="limited">Limited (<%= p.limit - order_count(p) %> of <%= p.limit %> remaining)</p>
              <% end %>
              <p class="delivery_date"><%= p.delivery_desc %></p>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  </fieldset>
<% end %>