<% if Settings.use_payment_options %>
  <fieldset>
    <div class="payment_options">
      <ol>
        <% PaymentOption.all.each_with_index do |p, index| %>
          <li>
            <%= radio_button_tag "payment_option", p.amount, false, class: 'payment_radio' %>
            <%= label_tag("payment_option_#{index}", p.amount_display) %>
            <div class="shipping">
              <span><%= p.shipping_desc %></span>
            </div>
            <div class="description">
              <p class="full"><%= raw p.description %></p>
              <p class="delivery_date"><%= p.delivery_desc %></p>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  </fieldset>
<% end %>