<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="main_content <%= "payment_options" if Settings.use_payment_options %>">
      <h3>Preorder</h3>
      <p>
        All of your payment information will be secured and stored with Stripe.
        <br />
        <br />
        Please Enter your details below.

      </p>
      <%= form_tag "/preorder/order", :id => "checkout" do %>
        <%= render 'preorder/payment_options' %>
        <div class="checkout_controls">
          <div class="checkout_controls_wrapper">
            <div class="checkout_controls_inner">
              <%= email_field_tag "email", nil, :placeholder => "Email address", :required => "required", :id => "email" %>
              <%= text_field_tag "card_number", nil, :placeholder => "Card Number", :required => "required", :id => "card_number" %>
              <%= text_field_tag "cvv", nil, :placeholder => "CVV", :required => "required", :id => "cvv" %>
              <%= text_field_tag "expires", nil, :placeholder => "Expires mm/yyyy", :required => "required", :id => "expires" %>
              <%= hidden_field_tag :stripe_token %>
              <%= submit_tag "Order!", :class => "blue_button", :id => "stripe_button" %>
            </div>
          </div>
        </div>
      <% end %>
      <br />
      <div id="stripe_errors">
        Something went wrong, please check all your details are correct
      </div>
    </div>
    <%= render 'preorder/checkout/sidebar' %>
  </div>
</div>
