<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title><%= Settings.product_name %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://checkout.stripe.com/checkout.js", "application" %>
    <meta class="imagelink" data-link="<%= asset_path('ToTheGigLogo128px.png') %>">
    <meta class="stripe_pk" data-pk="<%= Settings.stripe_public_key %>">
  </head>
  <!--[if lt IE 9 ]><body class="lt-ie9"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body><!--<![endif]-->
    <%= render 'preorder/header' %>
    <div class="maincontent">
      <%= yield %>
    </div>
    <%= render 'preorder/footer' %>
    <%= render 'popups/select_details' %>
    <div style="display: none" class="glass">
  </body>
</html>
